<%- include ("layout/header") %>
<div class="about-banner">
    <div class="container">
    <h1 class="text-center">Hello There My Frind</h1>
    <p class="text-uppercase text-dark text-center">this is my Node Js Tutorial</p>

    </div>
</div>


<%- include ("layout/footer") %>