<%- include ("layout/header") %>
<div class="mynav">
    <h1 class="custom mt-1 ">This is home page</h1>
</div>
    
<div class="container  d-flex p-2">
    <div class="about ">
        <h2 class="f-le" >Full <span style="color: #0a9693; font-weight: 700; font-size: 3rem;"> Responsive</span> and <span style="color: #0a9693;"> scallabe</span> Website</h2>
        <p class="text-2">MediClinic is made with mobile in mind. You can be sure your website will look unquestionably beautiful on all screen sizes, including devices with high-density retina displays. </p>


        <div>
            <button class="btn hoverbtn" style=" border:1px solid #0a9693; outline: none;margin: 16px; margin-left: 0; border-radius:20px;   padding-right: 10px; padding-left: 10px;">Our survice</button>
            <button class="btn hoverbtn" style=" border:1px solid #0a9693; outline: none;margin: 16px; padding-left:10px; padding-right: 10px;  border-radius:20px">Treatment</button>
        </div>
    </div>




    <div class="doc-dis position-relative">
          
    </div>
</div>







<%- include ("layout/footer") %>