<%- include ("layout/header") %>

<div class="container profile-banner">   
   <div class="container">

   </div>
   <div class="container">
       
   </div>
</div>    
<%- include ("layout/footer") %>